<div class="container-fluid">
    <h1 class="text-center contact-header">We are here to address your needs.</h1>
    <h3 class="text-center push contact-header">Contact Us:</h3>
    <div class="row">
        <div class="col-6">
            <div class="row">
                <i class="fab fa-facebook-square col-1 text-center"></i>
                <p class="col-8">&nbsp;facebook.com/hoshokuchi-toss</p>
            </div>
            <div class="row">
                <i class="fab fa-linkedin col-1 text-center"></i>
                <p class="col-8">&nbsp;linkedin.com/hoshokuchi-toss</p>
            </div>
            <div class="row">
                <i class="fas fa-phone-square-alt col-1 text-center"></i>
                <p class="col-8">&nbsp;unorit2022.hoshokuchi@gmail.com</p>
            </div>
        </div>
        <div class="col-6">
            <div class="row py-2">
                <img class="results-img-xs" src="/assets/img/toss-id/toss-2-white.png" alt="">
                <p class="px-3">hoshokuchi-toss.herokuapp.com</p>
            </div>        
            <div class="row py-2">
                <img class="results-img-xs" src="/assets/img/toss-id/logotoo-wht.png" alt="">
            </div>
        </div>
    </div>
    <hr class="py-4">
    <div class="text-center">
        <h5>Copyright &copy; 2021, <strong>Hoshoku-chi</strong></h5>
    </div>
</div>
