<div class="container-fluid">
    <div class="row">
        <div class="col-4 left-align">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fas fa-phone-square-alt"></i>
        </div>
        <div class="col-8 right-align">
            <p>Copyright &copy; 2021, <strong>Hoshoku-chi</strong></p>
        </div>
    </div>
</div>
