<nav class="navbar navbar-expand-lg navbar-light">
     <img src="/assets/img/toss-id/toss-2-shadow.png" alt="" class="logo px-2">
     <a class="navbar-brand pr-2" href="/" style="color: white; font-size: 30px;"><strong>ToSS</strong></a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav mr-auto">
               <li class="nav-item px-1 bold-text">
                    <a class="nav-links" href="/">Home</a>
               </li>
               <li class="nav-item dropdown px-1 bold-text">
                    <a class="nav-links" href="/about">About</a>
                    <ul class="dropdown-menu">
                         <li><a class="dropdown-item bold-text" href="/about#id">About ToSS</a></li>
                         <li><a class="dropdown-item bold-text" href="/about#members">Developers</a></li>
                         <li><a class="dropdown-item bold-text" href="/about#faq">FAQ</a></li>
                    </ul>
               </li>
               <li class="nav-item px-1 bold-text">
                    <a class="nav-links" href="/features">Features</a>
               </li>
          </ul>
     </div>
</nav>