<h2 class="py-4">What is ToSS?</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <p>The very identity of Terms of Service documents is practically common knowledge nowadays. These documents are considerably lengthy especially when we are accessing a free service like social media sites. One of our goals for ToSS is that we provide you an option to automate the process of understanding the contents of the document and giving you insights as to what you, as the user, might consider before accepting the terms.</p>
        </div>
        <div class="col col-6">
            <img class="results-img" src="/assets/img/toss-id/toss-2-shadow.png">
        </div>
    </div>
    <div class="row py-5">
        <div class="col col-6">
            <img class="results-img" src="/assets/img/toss-id/logotoo.png">
        </div>
        <div class="col-6">
            <h2 class="py-4">Who are we?</h2>
            <p>Terms of Service Simplifier is a project done by the developers of team Hoshoku-chi with the main goal of changing and informing everyone of the possible consequences of nonchalantly sharing your data.</p>
        </div>
    </div>
</div>