<h2 id="id" class="py-4">What is ToSS?</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <p>Privacy is important to everyone, and it is important to keep our data secured at all times. Terms of Service Simplifier (ToSS) is a web-based application that analyzes privacy policies of companies to look for statements that are ambiguous. ToSS reads these documents, and informs you of its findings. We want to help you to be more responsible with your privacy, and ToSS is our contribution for that.</p>
        </div>
        <div class="col col-6">
            <img class="results-img" src="/assets/img/toss-id/toss-3-stk.png">
        </div>
    </div>
    <div class="row py-5">
        <div class="col col-6">
            <img class="results-img" src="/assets/img/toss-id/logotoo-stk.png">
        </div>
        <div class="col-6 push">
            <h2 class="py-4">Who are we?</h2>
            <p>We are Hoshoku-chi, the team behind Terms of Service Simplifier (ToSS). We aim to develop tools that automate your tasks to make daily routines easier to accomplish. Hoshoku-chi is based on     Bacolod City, Philippines.</p>
        </div>
    </div>
    <div id="members" class="row text-center members">
        <div class="col-12 push" style="margin-top: 10px;"><h1>Meet the Team!</h1></div>
        <div class="col-4">
            <img src="/assets/img/members/ej.jpg" class="member-picture">
            <h3>Ervin Jeremiah Mesa</h3>
            <p>Lead Developer and NLP Engineer</p>
        </div>
        <div class="col-4">
            <img src="/assets/img/members/bk.jpg" class="member-picture">
            <h3>Bryant Kyle Sagun</h3>
            <p>Project Manager and Software Engineer</p>
        </div>
        <div class="col-4">
            <img src="/assets/img/members/jg.jpg" class="member-picture">
            <h3>Joseph Gabriel Tiña</h3>
            <p>Frontend Developer and Branding Lead</p>
        </div>
    </div>
    <div id="faq" class="faqs">
        <h1 class="col-12 text-center push">Frequently Asked Questions (FAQs)</h1>
        <div class="faquestion">
            <h3>What is ToSS?</h3>
            <p>Terms of Service Simplifier (ToSS) is a project developed by Hoshoku-chi to analyze privacy statements contents.</p>
        </div>
        <div class="faquestion">
            <h3>How does ToSS work?</h3>
            <p>A document is uploaded through the <a href="/">Home</a> page and ToSS reads the entire file. It checks if there are terms that are inappropriate and reports its findings.</p>
        </div>
        <div class="faquestion">
            <h3>How does ToSS know whether a statement is good or bad?</h3>
            <p>ToSS is designed to follow <a href="https://www.privacy.gov.ph/data-privacy-act/" target="_blank">R.A. 10173 or the Data Privacy Act of 2012</a>, which means it follows the Philippine guidelines for protecting and managing privacy.</p>
        </div>
        <div class="faquestion">
            <h3>Can I use the results of ToSS for legal actions?</h3>
            <p>ToSS is a tool to keep privacy policies simple for the general public since most of these documents are hard to read. However, it does not evaluate statements to be legal or not. It only suggests that the privacy statement analyzed could be unfavorable to a person if he/she agreed to it.</p>
        </div>
        <div class="faquestion">
            <h3>Does ToSS make use of the data of its users?</h3>
            <p>No, ToSS does not collect, use, or share your data.</p>
        </div>
    </div>
</div>