<!-- display instru -->
<div class="container-fluid py-5">
     <div class="row">
          <div class="col center-align">
               <img class="w-50" src="/assets/img/home/instrubanner.png" alt="">
          </div>
     </div>
</div>
<!-- end of instru -->

<div class="container-fluid center-align">
     <% if(errors.length > 0) { %>
          <div class="container-fluid w-50">
               <div class="col">
                    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                         <img class="px-2" src="/assets/img/invalid.png">
                         <%= errors %>
                         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                         </button>
                    </div>
               </div>
          </div>
     <% } %>
     <div class="row">
          <div class="col-3"></div>
          <div class="col-6 box py-3">
               <h1 class="py-3">Get started here</h1>
               <form action="/analyze" method="POST" enctype="multipart/form-data">
                    <label class="btn btn-primary">Upload PDF File<input type="file" name="pdf" id="pdf" accept="application/pdf" class='upload-btn'/></label>&nbsp;
                    <input type="text" name="pdfDir" id="pdfDir" style="display:none" />
                    <button type="submit" class="btn btn-primary btn-other" name="analyzeBtn" id="analyzeBtn">Start Analysis</button>
                    <h4 class="py-2" id="filename"></h4>
               </form>
          </div>
          <div class="col-3"></div>
     </div>
</div>

<script>
     $('#pdf').change(function() {
          pdfFileName = document.getElementById("pdf").value
          document.getElementById('pdfDir').value = pdfFileName
          pdfFileName = pdfFileName.split(/(\\|\/)/g).pop()
          document.getElementById("filename").innerHTML = "File: " + pdfFileName
     });

     addEventListener("keyup", function(event) {
          if (event.keyCode === 13) {
               event.preventDefault();
               document.getElementById("analyzeBtn").click();
          }
     });
</script>