<!DOCTYPE html>
<html lang="en">
     <head>
          <%- include('./layouts/head'); %>
     </head>
     
     <body class="container-fluid p-0 m-0">
          <header>
               <%- include('./layouts/header'); %>
          </header>
          <hr class="center-align w-100">

          <main class="px-5">
               <div class="main-content container-fluid p-5 m-0">
                    <h1 class="text-center">Terms of Service Simplifier</h1>
                    <h3 class="text-center">by Hoshoku-chi</h3>
                    <%- body %>
               </div>
               <div class="push"></div>
          </main>
          <hr class="center-align w-100">
          <footer class="py-4">
               <%- include('./layouts/footer'); %>
          </footer>
     </body>
</html>